/* CSS Document */


/*公共样式*/

* {
    padding: 0;
    margin: 0;
}

.mt20 {
    margin-top: 20px;
}

.mbpx {
    margin-bottom: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mr20 {
    margin-right: 20px;
}

.pt20 {
    padding-top: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.pl20 {
    padding-left: 20px;
}

.lr20 {
    padding-right: 20px;
}