@charset "UTF-8";
/* CSS Document */
/*公共样式*/
body {
	min-width: 770px;
}
ul, a {
	list-style: none;
	text-decoration: none;
}
.w {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
.f9a {
	color: #F9A120;
}
/*公共样式*/

/*导航栏开始*/
.nav {
	height: 60px;
	background-color: #666666;
}
.logo {
	float: left;
	margin: 15px 0 0 30px;
}
.nav ul {
	float: right;
	margin: 0;
	line-height: 60px;
}
.nav ul li {
	float: left;
	margin-right: 20px;
}
.menu {
	font-size: 16px;
	color: #A3A3A3;
}
.menu:hover {
	color: #F9A120;
	border-bottom: 1px solid #A3A3A3;
}
.nav .sub {
	font-size: 12px;
	background-color: #5CB9DE;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
	padding: 2px;
}
/*导航栏结束*/

/*中间部分开始*/
.content input {
	margin-top: 10px;
}
.content a {
	font-size: 12px;
}
/*中间部分结束*/

/*分享部分开始*/
.share {
	margin-top: 80px;
	display: flex;
	justify-content: space-around;
}
.share a {
	padding: 5px 3px 5px 3px;
	font-size: 14px;
	color: white;
	background-color: #09CB33;
}
/*分享部分结束*/

/*footer*/
.footer {
	margin-top: 120px;
}
.footer p {
	font-size: 10px;
	line-height: 14px;
	margin-top: -10px;
}






